<div class="jumbotron">
  <h1>Guess an episode!</h1>
  <p class="lead">
    Try to guess an episode from My Little Pony: Friendship
    is magic by examining a picture from that episode
  </p>
  <p><%= link_to "Let's go!", start_game_path, class: 'btn btn-lg btn-success' %></p>
</div>